body {
  height: 100%;
  background: linear-gradient(to right, #f7971e, #ffd200);
  color: white;
}

.clearfix {
  clear: both;
}

.module-border-wrap {
  background-color: white;
  width: 42%;
  padding: 5px;
  margin: 30px auto;
  border-radius: 10px;
}

.container {
  width: 99%;
  background: linear-gradient(to right, #000000, #434343);
  margin: 0px auto;
  padding: 0px;
  border-radius: 10px;
}

#audioplayer {
  padding: 15px;
}

#audioimg {
  overflow: hidden;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 10px;
}

#audioimg img {
  position: relative;
  top: -40px;
}

#info {
  text-align: center;
  margin-bottom: 20px;
}

#info .artist {
  font-weight: bold;
}

.cover {
  width: 100%;
  z-index: 1;
}

#vol {
  padding: 10px;
}

.glyphicon-volume-up {
  font-size: 30px;
}

#volume {
  position: relative;
  top: -15px;
  width: 80%;
  background: grey;
  height: 2px;
  margin: 0px auto;
  margin-bottom: 20px;
}

#audiobuttons {
  width: 63%;
  margin: 15px auto;
  overflow: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

#playbtn {
  border: none;
  width: 70px;
  height: 70px;
  background: url('img/play.png') no-repeat;
  float: left;
}

#pausebtn {
  border: none;
  width: 70px;
  height: 70px;
  background: url('img/pause.png') no-repeat;
  float: left;
}

#stopbtn {
  border: none;
  width: 70px;
  height: 70px;
  background: url('img/stop.png') no-repeat;
  float: left;
}

#prevbtn {
  margin-top: 20px;
  border: none;
  width: 70px;
  height: 70px;
  background: url('img/prev.png') no-repeat;
  float: left;
}

#nextbtn {
  margin-top: 20px;
  border: none;

  width: 70px;
  height: 70px;
  background: url('img/next.png') no-repeat;
  float: left;
  margin-left: 15px;
}

#stopbtn:focus,
#playbtn:focus,
#pausebtn:focus,
#prevbtn:focus,
#nextbtn:focus {
  outline: none;
}

#playlisthead {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
  padding: 0px;
}

#playlist {
  list-style: none;
  padding: 10px;
}

#playlist li {
  cursor: pointer;
  margin: 5px;
}

#tracker {
  position: relative;
  width: 100%;
}

#progressbar {
  width: 83%;
  margin-left: 2%;
  margin-bottom: 30px;
  margin-top: 9px;
  height: 10px;
  background: url('img/progress_bg.png') no-repeat;
  background-size: cover;
  float: left;
}

#progress {
  background: url('img/progress.png') no-repeat;
  background-size: cover;
  height: 9px;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 11px;
}

#duration {
  position: absolute;
  top: 0;
  right: 10px;
  padding: 4px 8px;
  background: black;
  border-radius: 5px;
}

.active {
  font-weight: bold;
  padding: 3px;
  background: gray;
}
